---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import StaticLayout from "../layouts/StaticLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";
import ModalCard from "./ModalCard.astro";
import CertificationCard from "./CertificationCard.astro";
const works = await Astro.glob("../pages/works/*.md");
const projects = await Astro.glob("../pages/projects/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
const certificates = await Astro.glob("../pages/certificates/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const PDF = "/CV_2024_English.pdf";

---

<div class="join join-vertical gap-1">


  <!-- 
  <StaticLayout title={"About"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </StaticLayout>

  <CertificationCard></CertificationCard>
  -->
  

  <AccordionLayout title={"About"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>
  
  

  <AccordionLayout title={"Work"} icon={"carbon:construction"}>
    {
      works.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Studies"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            tags={item.frontmatter.tags}
            url={item.url}
            url_name={item.frontmatter.institute}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Projects"} icon={"carbon:tools"}>
    <div class="grid sm:grid-cols-1 lg:grid-cols-2 justify-items-center">
    {
      projects.map((item) => {
        return (
          <div class="py-1">
          <ModalCard
            title={item.frontmatter.title}
            short_description={item.frontmatter.short_description}
            complete_description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url_img={item.frontmatter.url_img}
            prefix={item.frontmatter.prefix}
            demo={item.frontmatter.demo}
            img_1={item.frontmatter.img_1}
            img_2={item.frontmatter.img_2}
            img_3={item.frontmatter.img_3}
            img_4={item.frontmatter.img_4}
          />
          </div>
        );
      })
    }
    </div>
  </AccordionLayout>

  <AccordionLayout title={"Certifications"} icon={"carbon:certificate"}>
    <div class="grid sm:grid-cols-1 lg:grid-cols-2 justify-items-center">
      {
        certificates.map((item) => {
          return (
            <div class="py-1">
            <CertificationCard
              title={item.frontmatter.title}
              short_description={item.frontmatter.short_description}
              complete_description={item.compiledContent()}
              tags={item.frontmatter.tags}
              url_img={item.frontmatter.url_img}
              prefix={item.frontmatter.prefix}
              demo={item.frontmatter.demo}
            />
            </div>
          );
        })
      }
      </div>
  </AccordionLayout>

  <StaticLayout title={"Contact"} icon={"carbon:location-person"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    
    </div>
  </StaticLayout>

</div>
