---
import "@fontsource-variable/dm-sans";
import Container from "../../components/common/Container.astro";
import Footer from "../../components/common/Footer.astro";
import Header from "../../components/common/Header.astro";
import { Icon } from "astro-icon/components";

const language = "es";
const languages = [
{ value: 'es', name: 'Español' },
  { value: 'en', name: 'Ingles' }
];
---


<!--To update https://digital-expanse.com/tutorials/astro-blog-filters/ -->
<html lang={language}>
  <head>
    <script is:inline>
      /*Theme init*/
      localStorage.setItem("theme", "corporate");

        function getSelectedValue() {
        // Obtén el elemento <select> por su id
        var selectElement = document.getElementById("mySelect");

        // Obtén el valor seleccionado
        var selectedValue = selectElement.value;

        // Muestra el valor seleccionado en un elemento <p> con id "output"
        window.location.href = '/'+selectedValue;
      }
    </script>

    <script>
      /*open accordion section through routes*/
      window.addEventListener("load", function () {
        const currentHash = window.location.hash;
        const refElement = document.getElementById(currentHash.split("#")[1]);
        if (refElement) {
          refElement.click();
        }
      });
    </script>

    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>


    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Luis Hernandez CV</title>
  </head>

  <body class="flex flex-col min-h-screen">

    <Header language={language}/>
    <div
      class="flex items-center absolute top-4 right-4 md:top-6 md:right-6 lg:top-8 lg:right-8 xl:top-10 xl:right-10 z-10"
    >
      <Icon name="carbon:light" class="w-4 h-4" />
      <input
        type="checkbox"
        data-toggle-theme="corporate,business"
        data-act-class="ACTIVECLASS"
        class="toggle toggle-sm mx-1 bg-secondary"
      /><!--checked-->
      <Icon name="carbon:moon" class="w-4 h-4" />
    </div>

    <div class="flex items-center absolute top-4 left-4 md:top-6 md:left-6 lg:top-8 lg:left-8 xl:top-10 xl:left-10 z-10">
      <select id="mySelect" class="select select-bordered w-fit max-w-xs" onchange="getSelectedValue()">
        {languages.map((lang) => (
          <option value={lang.value} selected={lang.value === language}>{lang.name}</option>
        ))}
      </select>
    </div>

    <div
      class="divider mx-auto h-fit max-w-5xl w-[95vw] flex flex-nowrap bg-secondary"
    >
    </div>

    <main
      class="mx-auto flex-grow max-h-[90vh] md:max-h-[70vh] max-w-5xl py-2 grid w-[95vw] justify-center"
    >
      <!--overflow-y-scroll-->
      <div class="container">
        <Container language={language}/>
      </div>

      <Footer />
    </main>

  </body>
</html>

<style is:global>
  body {
    font-family: "DM Sans Variable", sans-serif;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 480px) {
    * {
      font-size: 12px;
    }
  }

  .overflow-y-scroll::-webkit-scrollbar {
    width: 3px;
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: oklch(var(--s));
  }

  .overflow-y-scroll {
    scrollbar-width: 1px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }
</style>
